@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap&family=Poppins&display=swap);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root  {
  --tealColor: #75E6DA;
  --buttonBackground: #05445E;
  --buttonSecondaryColor: #D4F1F4;
}

body {
  /* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4); */
  font-family: 'Roboto', sans-serif;
  background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin: 2rem 0;

}

.App {
  text-align: center;
}

button {
  width: auto;
  height: auto;
  padding: .5rem 2rem;
  color: var(--buttonSecondaryColor);
  background-color: var(--buttonBackground);
  margin: 5px auto;
  border: 2px solid var(--buttonSecondaryColor);
  border-radius: 50px;
  font-size: 1.5rem;
}

button:hover{
  border: 2px solid var(--tealColor);
  cursor: pointer;
}

button, h2 {
  font-family: 'Poppins';
}

h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

h2, button:hover {
  color: var(--tealColor);
}

.flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

thead {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
}

.tbl-content {
  height: auto;
  overflow-x: auto;
  width: 80%;
  margin: 5px auto;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}

.spacing {
  margin-top: 3rem;
}